.logo_place_header {
  margin-bottom: 41px;
  width: 142px;
}

@media screen and (max-width: 768px) {
  .logo_place_header {
    margin-bottom: 31.6px;
    margin-left: 27px;
    width: 103.74px;
  }
}
