.popup__close-button {
  padding: 0;
  width: 32px;
  height: 32px;
  border: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  box-sizing: border-box;
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
}

.popup__close-button:hover {
  opacity: 60%;
  cursor: pointer;
  transition-duration: 0.5s;
}

@media screen and (max-width: 525px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-image: url(../../../images/Close-Icon-s.svg);
  }
}
