.popup__container {
  width: 430px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  font-family: 'Inter', Arial, sans-serif;;
  max-width: 430px;
  margin: 0 auto 0 auto;
  position: relative;
  right: auto;
  top: 195px;
}

@media screen and (max-width: 525px) {
  .popup__container {
    max-width: 282px;
    top: 123px;
  }
}

