.popup__profile-profession {
  margin: 29px 0 0 0;
  padding-left: 0;
  width: 358px;
  padding-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.popup__profile-profession:focus {
  outline-color: white;
}

@media screen and (max-width: 525px) {
  .popup__profile-profession {
    width: 238px;
    margin: 31px 0 0 0;
  }
}

.popup__profile-profession:focus {
  outline-color: rgba(240, 236, 236, 1);
}

.popup__profile-profession::-webkit-input-placeholder {
  color: black;
}

.popup__profile-profession::-moz-placeholder {
  color: black;
}

.popup__profile-profession:-ms-input-placeholder {
  color: black;
}
