.popup__input-style_type_new-cards::-webkit-input-placeholder {
  color: #C4C4C4;
}

.popup__input-style_type_new-cards::-moz-placeholder {
  color: #C4C4C4;
}

.popup__input-style_type_new-cards:-ms-input-placeholder {
  color: #C4C4C4;
}

