.popup__close-button {
  padding: 0;
  width: 32px;
  height: 32px;
  border: 0;
  position: absolute;
  top: calc(720px/2 - 330px/2 - 40px);
  right: calc(100vw/2 - 430px/2 - 40px);
  background-color: transparent;
  box-sizing: border-box;
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
}

.popup__close-button:hover {
  opacity: 60%;
  cursor: pointer;
  transition-duration: 0.5s;
}

@media screen and (max-width: 525px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: calc(568px/2 - 322px/2 - 36px);
    right: calc(100vw/2 - 282px/2);
    background-image: url(../../../images/Close-Icon-s.png);
  }
}
