.popup__close-icon {
  position: absolute;
  width: 32px;
  top: -40px;
  right: -40px;
  box-sizing: border-box;
}

.popup__close-icon:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  .popup__close-icon {
    width: 20px;
    top: -35px;
    right: 0;
  }
}
