.popup__profile-name {
  margin: 49px 0 0 0;
  padding-left: 0;
  box-sizing: border-box;
  width: 358px;
  padding-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-right: 0;
  border-top: 0;

}

.popup__profile-name:focus {
  outline-color: white;
}

@media screen and (max-width: 525px) {
  .popup__profile-name {
    width: 238px;
    margin: 76px 0 0 0;
  }
}

.popup__profile-name:focus {
  outline-color: rgba(240, 236, 236, 1);
}

.popup__profile-name::-webkit-input-placeholder {
  color: black;
}

.popup__profile-name::-moz-placeholder {
  color: black;
}

.popup__profile-name:-ms-input-placeholder {
  color: black;
}
