.card__delete-icon {
  background-image: url(../../../images/delete-icon.svg);
  width: 18px;
  height: 19px;
  align-self: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  transition-duration: 0.3s;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete-icon:hover {
  cursor: pointer;
  opacity: .6;
  transition-duration: 0.5s;
  transition-delay: 0.02s;
}
